In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pandas_datareader import data as pdr
from scipy.stats import norm, t
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
startDate = "2020-01-01"
endDate = "2022-11-01"

Amazon = yf.Ticker("AMZN")
Amazon=Amazon.history(start=startDate, end=endDate)

In [3]:
Amazon.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02,93.750000,94.900497,93.207497,94.900497,80580000,0,0.0
2020-01-03,93.224998,94.309998,93.224998,93.748497,75288000,0,0.0
2020-01-06,93.000000,95.184502,93.000000,95.143997,81236000,0,0.0
2020-01-07,95.224998,95.694504,94.601997,95.343002,80898000,0,0.0
2020-01-08,94.902000,95.550003,94.321999,94.598503,70160000,0,0.0

In [4]:
amazon=pdr.get_data_yahoo("AMZN", start=startDate, end=endDate)

In [5]:
amazon.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-01-02  94.900497  93.207497  93.750000  94.900497  80580000.0  94.900497
2020-01-03  94.309998  93.224998  93.224998  93.748497  75288000.0  93.748497
2020-01-06  95.184502  93.000000  93.000000  95.143997  81236000.0  95.143997
2020-01-07  95.694504  94.601997  95.224998  95.343002  80898000.0  95.343002
2020-01-08  95.550003  94.321999  94.902000  94.598503  70160000.0  94.598503

In [6]:
stockList = ['AAPL','AMZN','MSFT','CBA', 'TLS']

In [7]:
ds=pdr.get_data_yahoo(stockList, start=startDate, end=endDate)
ds.head()

Attributes  Adj Close                                        Close             \
Symbols          AAPL       AMZN        MSFT    CBA TLS       AAPL       AMZN
Date
2020-01-02  73.683563  94.900497  156.592010  0.105 NaN  75.087502  94.900497
2020-01-03  72.967209  93.748497  154.642151  0.105 NaN  74.357498  93.748497
2020-01-06  73.548630  95.143997  155.041885  0.105 NaN  74.949997  95.143997
2020-01-07  73.202736  95.343002  153.628235  0.125 NaN  74.597504  95.343002
2020-01-08  74.380280  94.598503  156.075287  0.125 NaN  75.797501  94.598503

Attributes                         ...       Open                         \
Symbols           MSFT    CBA TLS  ...       AAPL       AMZN        MSFT
Date                               ...
2020-01-02  160.619995  0.105 NaN  ...  74.059998  93.750000  158.779999
2020-01-03  158.619995  0.105 NaN  ...  74.287498  93.224998  158.320007
2020-01-06  159.029999  0.105 NaN  ...  73.447502  93.000000  157.080002
2020-01-07  157.580002  0.125 NaN  ...  74.959999  95.224998  159.320007
2020-01-08  160.089996  0.125 NaN  ...  74.290001  94.902000  158.929993

Attributes                  Volume
Symbols       CBA TLS         AAPL        AMZN        MSFT      CBA TLS
Date
2020-01-02  0.105 NaN  135480400.0  80580000.0  22622100.0      0.0 NaN
2020-01-03  0.105 NaN  146322800.0  75288000.0  21116200.0      0.0 NaN
2020-01-06  0.105 NaN  118387200.0  81236000.0  20813700.0      0.0 NaN
2020-01-07  0.125 NaN  108872000.0  80898000.0  21634100.0  10000.0 NaN
2020-01-08  0.125 NaN  132079200.0  70160000.0  27746500.0   4000.0 NaN

[5 rows x 30 columns]

In [8]:
dd=yf.download(stockList, start=startDate, end=endDate,group_by="Ticker") 
dd.head()

[*********************100%***********************]  5 of 5 completed

            TLS                                        MSFT              \
           Open High Low Close Adj Close Volume        Open        High
Date
2020-01-02  NaN  NaN NaN   NaN       NaN    NaN  158.779999  160.729996
2020-01-03  NaN  NaN NaN   NaN       NaN    NaN  158.320007  159.949997
2020-01-06  NaN  NaN NaN   NaN       NaN    NaN  157.080002  159.100006
2020-01-07  NaN  NaN NaN   NaN       NaN    NaN  159.320007  159.669998
2020-01-08  NaN  NaN NaN   NaN       NaN    NaN  158.929993  160.800003

                                    ...       AMZN                        \
                   Low       Close  ...        Low      Close  Adj Close
Date                                ...
2020-01-02  158.330002  160.619995  ...  93.207497  94.900497  94.900497
2020-01-03  158.059998  158.619995  ...  93.224998  93.748497  93.748497
2020-01-06  156.509995  159.029999  ...  93.000000  95.143997  95.143997
2020-01-07  157.320007  157.580002  ...  94.601997  95.343002  95.343002
2020-01-08  157.949997  160.089996  ...  94.321999  94.598503  94.598503

                        CBA
              Volume   Open   High    Low  Close Adj Close   Volume
Date
2020-01-02  80580000  0.105  0.105  0.105  0.105     0.105      0.0
2020-01-03  75288000  0.105  0.105  0.105  0.105     0.105      0.0
2020-01-06  81236000  0.105  0.105  0.105  0.105     0.105      0.0
2020-01-07  80898000  0.125  0.125  0.125  0.125     0.125  10000.0
2020-01-08  70160000  0.125  0.125  0.125  0.125     0.125   4000.0

[5 rows x 30 columns]

In [9]:
def getData(stocks, start, end):
    stockData = pdr.get_data_yahoo(stocks, start=start, end=end)
    stockData = stockData['Close']
    returns = stockData.pct_change()
    meanReturns = returns.mean()
    covMatrix = returns.cov()
    return returns, meanReturns, covMatrix

In [10]:
returns, meanReturns, covMatrix =getData(stockList, startDate, endDate)
returns = returns.dropna()

In [11]:
returns

Symbols         AAPL      AMZN      MSFT       CBA       TLS
Date
2020-11-20 -0.010958 -0.005653 -0.009557  0.000000 -0.060621
2020-11-23 -0.029743 -0.000326 -0.001331  0.000000  0.069780
2020-11-24  0.011594  0.006348  0.017848  0.000000 -0.014223
2020-11-25  0.007467  0.021491  0.000047  0.000000 -0.001990
2020-11-27  0.004826  0.003224  0.006359  0.000000 -0.002991
...              ...       ...       ...       ...       ...
2022-10-26 -0.019627 -0.040962 -0.077156 -0.105263 -0.032877
2022-10-27 -0.030465 -0.040636 -0.019756  0.000000  0.008499
2022-10-28  0.075553 -0.068042  0.040220  0.000000  0.020599
2022-10-31 -0.015410 -0.009380 -0.015856 -0.235294 -0.027523
2022-11-01 -0.017543 -0.055154 -0.017059  0.461538 -0.010377

[490 rows x 5 columns]

In [12]:
meanReturns

Symbols
AAPL    0.001244
AMZN    0.000323
MSFT    0.000730
CBA     0.003642
TLS    -0.000443
dtype: float64

In [13]:
covMatrix

Symbols      AAPL      AMZN      MSFT       CBA       TLS
Symbols
AAPL     0.000537  0.000364  0.000409  0.000029  0.000265
AMZN     0.000364  0.000590  0.000366  0.000023  0.000364
MSFT     0.000409  0.000366  0.000477  0.000040  0.000283
CBA      0.000029  0.000023  0.000040  0.006018 -0.000079
TLS      0.000265  0.000364  0.000283 -0.000079  0.001811

In [14]:
# Portfolio Performance
def portfolioPerformance(weights, meanReturns, covMatrix, Time):
    
    returns = np.sum(meanReturns*weights)*Time
    
    std = np.sqrt( np.dot(weights.T, np.dot(covMatrix, weights)) ) * np.sqrt(Time)
    
    return returns, std

In [15]:
weights = np.random.random(len(returns.columns))
weights

array([0.27090457, 0.1983437 , 0.04622421, 0.18001898, 0.63812759])

In [16]:
weights = weights/np.sum(weights)
weights

array([0.20313489, 0.14872591, 0.03466073, 0.13498531, 0.47849316])

In [17]:
#Get the portfolio weighted average return for each day. 
returns['portfolio'] = returns.dot(weights)
returns

Symbols         AAPL      AMZN      MSFT       CBA       TLS  portfolio
Date
2020-11-20 -0.010958 -0.005653 -0.009557  0.000000 -0.060621  -0.032405
2020-11-23 -0.029743 -0.000326 -0.001331  0.000000  0.069780   0.027253
2020-11-24  0.011594  0.006348  0.017848  0.000000 -0.014223  -0.002887
2020-11-25  0.007467  0.021491  0.000047  0.000000 -0.001990   0.003762
2020-11-27  0.004826  0.003224  0.006359  0.000000 -0.002991   0.000249
...              ...       ...       ...       ...       ...        ...
2022-10-26 -0.019627 -0.040962 -0.077156 -0.105263 -0.032877  -0.042694
2022-10-27 -0.030465 -0.040636 -0.019756  0.000000  0.008499  -0.008851
2022-10-28  0.075553 -0.068042  0.040220  0.000000  0.020599   0.016478
2022-10-31 -0.015410 -0.009380 -0.015856 -0.235294 -0.027523  -0.050006
2022-11-01 -0.017543 -0.055154 -0.017059  0.461538 -0.010377   0.044978

[490 rows x 6 columns]

In [18]:
def historicalVaR(returns, alpha=5):
    """
    Read in a pandas dataframe of returns / a pandas series of returns
    Output the percentile of the distribution at the given alpha confidence level
    """
    if isinstance(returns, pd.Series):
        return np.percentile(returns, alpha)
    
   
    elif isinstance(returns, pd.DataFrame):
        
         # A passed user-defined-function will be passed a Series for evaluation.
        return returns.aggregate(historicalVaR, alpha=alpha)
    
    else:
        raise TypeError("Expected returns to be dataframe or series")

In [19]:
# 100 days
Time = 100

hVaR = -historicalVaR(returns['portfolio'], alpha=5)*np.sqrt(Time)
hVaR

0.4061276520067337

In [20]:
-historicalVaR(returns, alpha=5)*np.sqrt(Time)

Symbols
AAPL         0.319873
AMZN         0.360941
MSFT         0.292324
CBA          1.000000
TLS          0.591182
portfolio    0.406128
dtype: float64

In [21]:
pRet, pStd = portfolioPerformance(weights, meanReturns, covMatrix, Time)

In [22]:
InitialInvestment = 10000
print('Expected Portfolio Return:      ', round(InitialInvestment*pRet,2))
print('Value at Risk 95th CI    :      ', round(InitialInvestment*hVaR,2))

Expected Portfolio Return:       605.58
Value at Risk 95th CI    :       4061.28